/* Credentials Input Section */
.credentialsInputContainer {
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#credentialsForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userCredentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.restaurantSuggestionsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.individualRestaurant {
    margin: 8px;
    padding: 8px;
    border: 1px solid red;
}